.cityPlan {
  display: flex;
  flex: 1;
  appearance: none;
  background: none;
  border: none;
}

.cityPlan article {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.header {
  flex: 1;
  justify-self: flex-start;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
}

.categoryNumber {
  width: 100%;
  text-align: right;
  padding: 0 10px;
  margin: 0;
}

.footer {
  width: 100%;
  flex: 1;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;

  font-size: 3em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
  padding: 10px;
}

.firstPoints {
  background: white;
  color: black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.firstPoints.claimed {
  background: gray;
  text-decoration: line-through;
}

/* House Icons */

.estates {
  display: grid;
  gap: 20px;

  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, max-content);
  margin-bottom: 20px;
}

.estate {
  border-color: white;
  position: relative;
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.estate legend {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 5px;
  background: var(--background);
  font-size: 1.6rem;
}

.estateIcon {
  font-size: 1em;
}

.estate1,
.estate2 {
  grid-column: span 2;
}

.estate3,
.estate4,
.estate5,
.estate6 {
  grid-column: span 6;
}
