.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 40px auto;
  border-top: 1px dashed white;
  width: 50%;
}

.constructionCards {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--card-gap);

  width: 100%;
}

.cityPlans {
  display: flex;
  flex-direction: row;
  gap: var(--card-gap);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.button {
  background: lightblue;
  color: black;
  appearance: none;
  padding: 10px 30px;
  font-size: 2em;
  border-radius: 10px;
}
